body {
  margin: 0;
  background-color: #83c7c0;
}

.navBackground a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;

  float: right;
}

.navBackground span {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}
.navBackground {
  overflow: visible;
  background-color: #83c7c0;
  position: fixed;
  top: 0;
  width: 100%;
}

.navBackground a {
  font-size: 1.5vw;
}
@media only screen and (max-width: 600px) {
  .navBackground {
    width: 100%;
  }
}

.theHubWord {
  width: 20%;
  height: 50%;
}

.change {
  margin-top: -10em;
}

.movecart {
  margin-top: 8em;
  text-align: center;
  background-color: black;
  width: 90em;

  padding-left: 0em;
}
@media only screen and (max-width: 600px) {
  .movecart {
    width: 100%;
  }
}

.buttons {
  margin-left: 1.5px;
  color: #ffffff;
  width: 13.1em;
  height: 5em;

  background-color: black;
  border: none;

  border-right: solid 1px white;
}
@media only screen and (max-width: 600px) {
  .buttons {
    width: 6em;
  }
}
.buttons:hover {
  background-color: #83c7c0;
}

.cart-item {
  padding-bottom: 4em;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 5em;
  height: fit-content;
  padding: 20px;
  margin-top: -1em;
  padding-bottom: 8em;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 2em;

  padding: 6px;
  font-size: 20px;
  text-align: center;
}
.btn-purchase {
  padding: 1em;
  border: none;
}
.btn-purchase:hover {
  background-color: #83c7c0;
  border: solid 0.5px black;
}

.shop-item {
  border-radius: 2em;
  border: solid 2px grey;
  text-align: center;
  background-color: black;
  color: white;
}

.container {
  background-color: black;
  color: white;
  position: relative;
  margin-top: 10em;
  border: solid 2px #ffffff;
  padding-right: 10em;
  padding-left: 10em;
  padding-bottom: 10em;
}

.row {
  margin: 2em;
}

.box-element {
  background-color: white;
  margin-top: 10em;
  padding: 1em;
  border-radius: 20px;
}
.shop-item-button {
  color: white;
  background-color: #56ccf2;
  border: none;
  border-radius: 5px;
  width: 15em;
}
.cart-quantity {
  width: 35%;
}

.cart-quantity-input {
  height: 34px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1em;
  margin-right: -10px;
}
.attachment {
  display: flex;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-quantity {
  width: 35%;
}
.cart-row {
  display: flex;
}
.cart-price {
  align-items: center;
  width: 30%;
  margin-bottom: -20px;
  margin-left: -2.5em;
  font-size: 1.2em;
  color: white;
}

.attachment:last-child {
  border-bottom: 1px solid white;
}

.attachment:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
}

.shop-item-button:hover {
  background-color: black;
}
.shop-item:hover {
  background-color: #eee;
  color: black;
}
.grid-item:hover {
  background-color: black;
}
@media only screen and (max-width: 600px) {
  .shop-item-select {
    width: 3em;
  }
}
@media only screen and (max-width: 600px) {
  .shop-item-button {
    width: 4em;
  }
}
.shop-item-select {
  background-color: #56ccf2;
  border: none;
  border-radius: 5px;
  color: white;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 5px;
  margin-left: 4em;
  height: 34px;
}
.btn-danger:hover {
  background-color: #cc4c4c;
}

.addon {
  border: none;
  height: 34px;

  margin-left: 7em;
  border-radius: 5px;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #83c7c0;
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;

  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;

  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.contactAlignNumber {
  margin-left: -950px;
  font-size: large;
  color: white;
}

.contactAlignEmail {
  margin-left: 950px;
  margin-top: -35px;
  font-size: large;
  color: white;
}

.contactAlignAddress {
  margin-top: -35px;
  font-size: large;
  color: white;
}
.footer {
  width: 100%;
  padding-bottom: 0%;
  background-color: #83c7c0;
  text-align: center;
  padding-top: 1%;
}
.footerWords {
  color: white;
  font-family: cursive;
  margin-bottom: -0.2%;
}
