body {
  margin: 0;
  /* background-color: white; */
}

.navBackground a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;

  float: right;
}

.navBackground span {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}
.navBackground {
  overflow: visible;
  background-color: #83c7c0;
  position: fixed;
  top: 0;
  width: 100%;
}

.navBackground a {
  font-size: 1.5vw;
}

@media only screen and (max-width: 600px) {
  .navBackground {
    width: 100%;
  }
}

.theHubWord {
  width: 20%;
  height: 50%;
}

.change {
  margin-top: -10em;
}

.movecart {
  margin-top: 10em;
  margin-bottom: 2em;
  text-align: center;
  background-color: #6b3b17;
  width: 100%;

  padding-left: 0em;
}
@media only screen and (max-width: 3000px) and (min-width: 2000px) {
  .movecart {
    width: 102%;
    margin-top: 17em;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1400px) {
  .movecart {
    width: 100%;
    margin-top: 10em;
  }
}
@media only screen and (max-width: 1050px) and (min-width: 800px) {
  .movecart {
    width: 141%;
    margin-top: 10em;
  }
}
@media only screen and (max-width: 770px) and (min-width: 600px) {
  .movecart {
    width: 188%;
    margin-top: 10em;
  }
}
@media only screen and (max-width: 500px) and (min-width: 400px) {
  .movecart {
    width: 340%;
    margin-top: 10em;
  }
}
@media only screen and (max-width: 400px) and (min-width: 290px) {
  .movecart {
    width: 384%;
    margin-top: 10em;
  }
}

.buttons {
  margin-left: 1.5px;
  color: #6b3b17;
  width: 13.1em;
  height: 5em;
  background-color: #83c7c0;
  border: none;
  border-right: solid 1px;
}

.buttons :hover {
  background-color: #83c7c0;
}

.cart-item {
  padding-bottom: 4em;
  text-align: center;
  margin-left: 3em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 5em;
  padding: 20px;
  margin-top: -1em;
  padding-bottom: 8em;
  height: 20%;
}
@media only screen and (max-width: 3000px) and (min-width: 2000px) {
  .grid-container {
    width: 100%;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1000px) {
  .grid-container {
    width: 135%;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 700px) {
  .grid-container {
    width: 170%;
  }
}
@media only screen and (max-width: 425px) and (min-width: 375px) {
  .grid-container {
    width: 320%;
  }
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  padding: 6px;
  font-size: 20px;
  text-align: center;
}

.btn-purchase {
  padding: 1em;
  border: none;
}
.btn-purchase:hover {
  background-color: #83c7c0;
  border: solid 0.5px #83c7c0;
}

.shop-item {
  border: solid 2px #6b3b17;
  text-align: center;
  background-color: #83c7c0;
  color: white;
  height: 13.5vw;
  width: 45vw;
}
.shop-items {
  margin-bottom: 5%;
}
@media only screen and (max-width: 3000px) and (min-width: 2000px) {
  .shop-item {
    width: 100%;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1000px) {
  .shop-item {
    width: 100%;
    height: 10em;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 700px) {
  .shop-item {
    width: 100%;
    height: 10em;
  }
}
@media only screen and (max-width: 425px) and (min-width: 375px) {
  .shop-item {
    width: 100%;
    height: 15em;
  }
}
.container {
  background-color: #83c7c0;
  color: #6b3b17;
  position: relative;
  margin-top: 10em;
  border: solid 2px #ffffff;
  padding-right: 10em;
  padding-left: 10em;
  padding-bottom: 10em;
}

.row {
  margin: 2em;
}

.box-element {
  background-color: white;
  margin-top: 10em;
  padding: 1em;
  border-radius: 20px;
}
.shop-item-button {
  color: white;
  background-color: #6b3b17;
  border: none;
  border-radius: 5px;
  width: 15em;
}
.cart-quantity {
  width: 20%;
}

.cart-quantity-input {
  height: 34px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #6b3b17;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1em;
  margin-left: -19px;
}
.attachment {
  display: flex;
  margin-left: 3em;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-quantity {
  width: 25%;
}
.cart-row {
  display: flex;
  margin-left: 6em;
}
.cart-price {
  align-items: center;
  width: 30%;
  margin-bottom: -20px;
  margin-left: -2.5em;
  font-size: 1.2em;
  color: white;
}

.attachment:last-child {
  border-bottom: 1px solid white;
}

.attachment:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
}

.shop-item-button:hover {
  background-color: black;
}
.shop-item:hover {
  background-color: #83c7c0;
  color: white;
  border: 7px solid #6b3b17;
}
.grid-item:hover {
}
@media only screen and (max-width: 600px) {
  .shop-item-select {
    width: 3em;
  }
}
@media only screen and (max-width: 600px) {
  .shop-item-button {
    width: 4em;
  }
}
.shop-item-select {
  background-color: #56ccf2;
  border: none;
  border-radius: 5px;
  color: white;
}
.quantity-head {
  width: 10%;
}
.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 5px;
  margin-left: 10em;
  height: 34px;
}
.btn-danger:hover {
  background-color: #cc4c4c;
}

.addon {
  border: none;
  height: 34px;

  margin-left: 9em;
  border-radius: 5px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;

  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;

  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.contactAlignNumber {
  margin-left: -950px;
  font-size: large;
  color: white;
}

.contactAlignEmail {
  margin-left: 950px;
  margin-top: -35px;
  font-size: large;
  color: white;
}

.contactAlignAddress {
  margin-top: -35px;
  font-size: large;
  color: white;
}

.footer {
  width: 100%;
  padding-bottom: 0%;
  background-color: #83c7c0;
  text-align: center;
  padding-top: 1%;
}
.footerWords {
  color: white;
  font-family: cursive;
  margin-bottom: -0.2%;
}
@media only screen and (max-width: 3000px) and (min-width: 2000px) {
  .footer {
    width: 102%;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1000px) {
  .footer {
    width: 140.5%;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 700px) {
  .footer {
    width: 187.5%;
  }
}
@media only screen and (max-width: 700px) and (min-width: 600px) {
  .footer {
    width: 235%;
  }
}
@media only screen and (max-width: 600px) and (min-width: 550px) {
  .footer {
    width: 260%;
  }
}
@media only screen and (max-width: 550px) and (min-width: 450px) {
  .footer {
    width: 265%;
  }
}
@media only screen and (max-width: 425px) and (min-width: 375px) {
  .footer {
    width: 340%;
  }
}
