body {
  width: 100%;
  background: url("images/blurredCrop.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

html {
  width: 100%;
}

.user_card_register {
  width: 650px;
  background: white;
  margin-top: 12.5em;

  padding-left: 5px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  position: relative;
  display: flexbox;
  flex-direction: column;
  border-radius: 5px;
  margin-left: 390px;
  color: black;
}

@media only screen and (max-width: 3000px) {
  /* .user_card_register {
    margin-top: 7em;
    width: 1000px;

    font-size: 2em;
  } */
}
@media only screen and (max-width: 1500px) {
  /* .user_card_register {
    margin-top: 12.5em;
    width: 1000px;

    font-size: 1em;
  } */
}

@media only screen and (max-width: 1200px) {
  /* .user_card_register {
    margin-top: 10em;
    margin-left: 11em;
    width: 500px;
    font-size: 1.5em;
  } */
}
@media only screen and (max-width: 770px) {
  /* .user_card_register {
    margin-left: 17em;
    width: 400px;
    font-size: 10px;
  } */
}
@media only screen and (max-width: 600px) {
  /* .user_card_register {
    margin-left: 4em;
    width: 300px;
    font-size: 10px;
  } */
}
@media only screen and (max-width: 340px) {
  /* .user_card_register {
    width: 250px;
  } */
}

@media only screen and (max-width: 1450px) {
  .login_btn {
    height: 3em;
    width: 10em;
  }
}
.container {
  margin-top: 10em;
  padding-bottom: 1em;

  justify-content: center;
}

.theHubWord {
  width: 20%;
  height: 50%;
}
.footerWords {
  color: white;
}

.copy {
  color: white;
}
#navBackground {
  overflow: hidden;
  background-color: #83c7c0;
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #83c7c0;
  text-align: center;
}

.footerWords {
  color: white;
  font-family: cursive;
  margin-top: 1%;
}
.copy {
  color: white;
  font-family: cursive;
  margin-top: 1%;
}
.ml-2 {
  text-decoration: none;
}
.ml-2:hover {
  color: #83c7c0;
  text-decoration: none;
}
.register_word {
  text-align: center;
  font-size: 130%;
}
@media only screen and (max-width: 3000px) {
  /* .register_word {
    font-size: 0.5em;
  } */
}
@media only screen and (max-width: 770px) {
  /* .register_word {
    font-size: 1.5em;
  } */
}
.move {
  text-align: center;
}

.register_button {
  background-color: #83c7c0;
}

.buttonContainer {
  /* margin-bottom: -200px;
  position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
