body {
  width: 100%;
  background-color: white;
  background-image: none;
  margin: 0;
}

html {
  width: 100%;
}

.user_card_register {
  width: 350px;
  background: white;
  margin-top: 200px;
  margin-bottom: 100px;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-left: 480px;
}
@media only screen and (max-width: 1100px) {
  .user_card_register {
    margin-left: 19em;
    width: 300px;
  }
}
@media only screen and (max-width: 770px) {
  .user_card_register {
    margin-left: 14em;
    width: 200px;
  }
}
@media only screen and (max-width: 600px) {
  .user_card_register {
    margin-left: 1.5em;
    width: 180px;
  }
}

.theHubWord {
  width: 20%;
  height: 50%;
}
.footerWords {
  color: white;
}

.copy {
  color: white;
}
#navBackground {
  overflow: hidden;
  background-color: #83c7c0;
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #83c7c0;
  text-align: center;
}

.footerWords {
  color: white;
}

.copy {
  color: white;
}

.register_word {
  margin-top: 150px;
  text-align: center;
  margin-bottom: -150px;
}

/* .register_text_box{

} */

.register_button {
  background-color: #83c7c0;
}

.buttonContainer {
  /* margin-bottom: -200px;
  position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
