body {
  background-image: url("images/IMG_625.jpg");
  background-attachment: fixed;
  background-size: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #83c7c0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #83c7c0;
}

.active {
  background-color: #04aa6d;
}

/* .navBackground {
   background-color: #83c7c0; 
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
}

.navbar {
  background-color: #83c7c0;
  color: white;
}  */

.orderBack {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 2em;
  margin: 5px;
}

.homehours {
  width: 20em;
  padding: 1em;
  background-color: white;
  margin-top: 5em;
}
