body {
  background-image: url("images/IMG_625.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.navBackground {
  background-color: #83c7c0;
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
}

.navbar {
  background-color: black;
  color: white;
}
