{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Document</title>
  </head>

  <body>
    <div class="navBackground">
      <ul>
        <p>The Hub</p>
        <li><a href="{%url 'home-page'%}">Home</a></li>
        <li><a href="{%url 'order-page'%}">Order</a></li>
        <li><a href="{%url 'cart-page'%}">Menu</a></li>
        <li><a href="{%url 'login-page'%}">Login</a></li>
        <li><a href="{%url 'register-page'%}">Register</a></li>
        <li><a href="{%url 'logout'%}">Logout</a></li>
      </ul>
    </div>
    <script src="{%static 'store.js' %}" async></script>
    {%block content%}{% endblock %}
  </body>
</html>
