{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Document</title>
  </head>
  <div id="navBackground">
    <img class="theHubWord" src="/static/images/hub.png" />
    <a href="{%url 'logout'%}">Logout</a>
    {% comment %} <a href="{%url 'register-page'%}">Register</a> {% endcomment
    %} {% comment %} <a href="{%url 'login-page'%}">Login</a> {% endcomment %}
    <a href="{%url 'gallery-page'%}">Gallery</a>

    <a href="{%url 'cart-page'%}">Menu</a>


    <a href="{%url 'home-page'%}">Home</a>
  </div>
  <body>
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
      var stripePublicKey = "<%= stripePublicKey %>";
    </script>
    <script src="{%static 'store.js' %}" defer></script>
    {%block content%}{% endblock %}
  </body>
  <footer class="footer">
    <p class="contactAlignNumber">662-902-6889</p>
    <p class="contactAlignAddress">
      428 N Main St Water Valley Mississippi 38965
    </p>
    <p class="contactAlignEmail">thehubbistrowv@gmail.com</p>
    <p class="footerWords">The Hub Bistro & Coffee House</p>
    <p class="copy">©Makyla Person, Dylan Goad, and Justin Ashmore</p>
  </footer>
</html>
