{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'cart.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="{%static 'store.js' %}" async></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AXiFkUTWcLsiGKSRqfO8ZvReHhxDB7ua-0toXDNAG-x9JHojOk5TTtwReq6vKuWNucXXOsro5MBqqLcX&currency=USD"></script>
  </head>
  <div class="navBackground">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <section class="container content-section">
        <div class="cart-item">
          <h2 class="section-header">CART</h2>

          <div class="cart-row">
            <span class="cart-item cart-header cart-column">ORDER</span>
            <span class="cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            <span class="cart-quantity cart-header cart-column">ADD</span>
          </div>
          <div class="cart-items"></div>

          <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <p class="cart-total-price">$0</p>
          </div>
          <div id="paypal-button-container"></div>
          {% comment %}
          <button class="btn btn-primary btn-purchase" id="" type="button">
            PURCHASE
          </button>
          {% endcomment %}
        </div>
      </section>
    </div>
    <div id="main">
      <img class="theHubWord" src="/static/images/hub.png" />
      <span
        style="
          font-size: 30px;
          margin-left: 0em;
          margin-top: -0.2em;
          cursor: pointer;
        "
        onclick="openNav()"
        ><i class="fa fa-shopping-cart"></i
      ></span>
      <a href="{%url 'logout'%}">Logout</a>
      <a href="{%url 'gallery-page'%}">Gallery</a>
      <a href="{%url 'cart-page'%}">Menu</a>
      <a href="{%url 'home-page'%}">Home</a>
    </div>
  </div>

  <body>
    <div class="movecart">
      <button type="button" value="1" class="buttons">Breakfast</button>
      <button type="button" value="2" class="buttons">Salads</button>
      <button type="button" value="3" class="buttons">Pastries & More</button>
      <button type="button" value="4" class="buttons">
        Sandwiches & Wraps
      </button>
      <button type="button" value="5" class="buttons">Brewed Coffees</button>

      <button type="button" value="6" class="buttons">Espresso</button>

      <button type="button" value="7" class="buttons">Specialty Drinks</button>
      <button type="button" value="8" class="buttons">Blended Coffees</button>
    </div>

    <div id="divid"></div>
  </body>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>
  <script>
    var finalTotal = document
      .querySelector(".cart-total-price")
      .replace("$", "");
    const paypalButtonsComponent = paypal.Buttons({
      // optional styling for buttons
      // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
      style: {
        color: "gold",
        shape: "pill",
        layout: "vertical",
      },

      // set up the transaction
      createOrder: (data, actions) => {
        // pass in any options from the v2 orders create call:
        // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
        const createOrderPayload = {
          purchase_units: [
            {
              amount: {
                value: finalTotal,
              },
            },
          ],
        };

        return actions.order.create(createOrderPayload);
      },

      // finalize the transaction
      onApprove: (data, actions) => {
        const captureOrderHandler = (details) => {
          const payerName = details.payer.name.given_name;
          console.log("Transaction completed");
        };

        return actions.order.capture().then(captureOrderHandler);
      },

      // handle unrecoverable errors
      onError: (err) => {
        console.error(
          "An error prevented the buyer from checking out with PayPal"
        );
      },
    });

    paypalButtonsComponent.render("#paypal-button-container").catch((err) => {
      console.error("PayPal Buttons failed to render");
    });
  </script>
  <footer class="footer">
    <p class="contactAlignNumber">662-902-6889</p>
    <p class="contactAlignAddress">
      428 N Main St Water Valley Mississippi 38965
    </p>
    <p class="contactAlignEmail">thehubbistrowv@gmail.com</p>
    <p class="footerWords">The Hub Bistro & Coffee House</p>
    <p class="footerWords">©Makyla Person, Dylan Goad, and Justin Ashmore</p>
  </footer>
</html>
