{% extends 'base.html' %} {%block content%}
<img class="galleryimg" src="/static/images/pics/cake1.JPG" />
<img class="galleryimg" src="/static/images/pics/cake2.JPG" />
<img class="galleryimg" src="/static/images/pics/chickensalad1.JPG" />
<img class="galleryimg" src="/static/images/pics/coffee1.JPG" />
<img class="galleryimg" src="/static/images/pics/coffee2.JPG" />
<img class="galleryimg" src="/static/images/pics/coffee3.JPG" />
<img class="galleryimg" src="/static/images/pics/coffee4.JPG" />
<img class="galleryimg" src="/static/images/pics/cookies1.JPG" />
<img class="galleryimg" src="/static/images/pics/cookies2.JPG" />
<img class="galleryimg" src="/static/images/pics/cookies3.JPG" />
<img class="galleryimg" src="/static/images/pics/cr1.JPG" />
<img class="galleryimg" src="/static/images/pics/cr2.JPG" />
<img class="galleryimg" src="/static/images/pics/cr3.JPG" />
<img class="galleryimg" src="/static/images/pics/cr4.JPG" />
<img class="galleryimg" src="/static/images/pics/cr5.JPG" />
<img class="galleryimg" src="/static/images/pics/cr6.JPG" />
<img class="galleryimg" src="/static/images/pics/IMG_6253.JPG" />
<img class="galleryimg" src="/static/images/pics/IMG_6259.JPG" />
<img class="galleryimg" src="/static/images/pics/IMG_6260.JPG" />
<img class="galleryimg" src="/static/images/pics/IMG_6261.JPG" />
<img class="galleryimg" src="/static/images/pics/loafs.JPG" />
<img class="galleryimg" src="/static/images/pics/pastries1.JPG" />
<img class="galleryimg" src="/static/images/pics/pastries2.JPG" />
<img class="galleryimg" src="/static/images/pics/pastries3.JPG" />
<img class="galleryimg" src="/static/images/pics/pastries4.JPG" />
<img class="galleryimg" src="/static/images/pics/pastries5.JPG" />
<img class="galleryimg" src="/static/images/pics/quasadilla1.JPG" />
<img class="galleryimg" src="/static/images/pics/quiche1.JPG" />
<img class="galleryimg" src="/static/images/pics/quiche2.JPG" />
<img class="galleryimg" src="/static/images/pics/salad1.JPG" />
<img class="galleryimg" src="/static/images/pics/sandwich1.JPG" />
<img class="galleryimg" src="/static/images/pics/sandwich2.JPG" />
<img class="galleryimg" src="/static/images/pics/sandwich3.JPG" />
<img class="galleryimg" src="/static/images/pics/sandwich4.JPG" />
<img class="galleryimg" src="/static/images/pics/sandwich5.JPG" />
<img class="galleryimg" src="/static/images/pics/wrap1.JPG" />

{% endblock %}
