{% extends 'base.html' %} {%block content%} {%load static%}

<div class="movecart">
  <button type="button" value="1">Breakfast</button>
  <button type="button" value="2">Salads</button>
  <button type="button" value="3">Pastries & More</button>
  <button type="button" value="4">Sandwiches & Wraps</button>
  <button type="button" value="5">Brewed Coffees</button>

  <button type="button" value="6">Espresso</button>

  <button type="button" value="7">Specialty Drinks</button>
  <button type="button" value="8">Blended Coffees</button>

  <div id="show"></div>
</div>

{% endblock %} {% comment %}
<h1 style="font-size: 100pt">Menu</h1>
<h2>Brewed Coffees</h2>
<div class="row">
  {%for coffee in all_coffee%}
  <div class="col-lg-4">
    <div class="box-element">
      <h4>{{coffee.name}}</h4>
      <p>{{coffee.desc}}</p>
      <form method="POST">
        {% csrf_token %}
        <fieldset>
          <legend>Sizes</legend>
          <input type="radio" id="small" value="small" name="size" />
          <label for="small">Small</label><br />

          <input type="radio" id="medium" value="medium" name="size" />
          <label for="medium">Medium</label><br />

          <input type="radio" id="large" value="large" name="size" />
          <label for="large">Large</label><br />
        </fieldset>

        <a href="{%url 'menu-page/'%}"
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endcomment %}
